/* Reset */

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-decoration: none;
	font-weight: inherit;
	font-style: inherit;
	color: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	list-style: none;
	border-collapse: collapse;
	border-spacing: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
}

/* Main */

body {
	background: black;
	color: white;
	font-family: monospace, monospace;
	font-size:11px;
	overflow: hidden;
}

canvas {
	image-rendering: pixelated;
	image-rendering: optimizeSpeed;
}

#mixer {
	width: 808px;
	font-size: 12px;
	margin: calc(50vh - 140px) auto;
}

.knob {
	float: left;
	width: 200px;
	height: 240px;
	position: relative;
	border-bottom: 2px solid white;
	margin-right:2px;
}
.knob svg {
	margin: auto;
	padding: 20px;
	stroke-width: 20px;
	width: 3px;
	height: 3px;

	transform: rotate(90deg);
	stroke-linecap: round;
	fill: none;
	display: block;
	position: relative;
}
.knob svg circle.bg {
	stroke:#fff;
	stroke-width:14px;
}
.knob svg circle.fg {
	stroke:#000;
	stroke-width: .8em;
}
.knob span {
	display: block
}
.knob span.display {
	color: #fff;
	position: absolute;
	top: 65px;
	width: 200px;
	text-align: center;
	font-size: 10px;
}
.knob span.label {
	color: #fff;
	bottom: 4em;
	text-align: center;
}
.knob input {
	display: none;
	position: absolute;
	bottom: 2em;
	width: 100% !important;
}
.knob:hover input {
	display: block
}
